*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


p {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin:0;
    background: #0d1519;
    color: white;
    overflow-x: hidden;
    background-image: url('https://cloudfront-us-east-2.images.arcpublishing.com/reuters/ZQWC52NKBJINZBOG6DMQV4VSDA.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: luminosity;
}

.people-involved {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(12, 20, 24, 0.8);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:20px;
    border-radius:10px;
}

.sources {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(12, 20, 24, 0.8);
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:15px;
    border-radius:10px;
}

.sources p {
    font-size: 20px;
    font-weight: bold;
}

.coolchart {
    margin-top:5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-bottom:15px;
    z-index: 2;
}

.timeline-intro {
    background-color: rgb(13, 162, 199, 0.8);
    padding: 10px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius:10px;
    animation: fadeIn 2s;
    z-index: 2;
    
}

.big-intro {
    background-color: rgb(12, 20, 24);
    padding: 10px;
    text-align: center;
    margin-bottom:5%;
    z-index: 2;
}

.background-info {
    background-color: rgb(60, 198, 226, 0.9);
    padding: 10px;
    text-align: left;
    margin-bottom:5%;
    margin-top:5%;
    font-weight:bold;
    font-size:18px;
    margin-left:15%;
    margin-right:15%;
    border-radius:20px;
    animation: fadeIn 3s;
    z-index: 2;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.background-info p {
    margin-left:10%;
    margin-right:10%;
    padding-top:30px;
    padding-bottom:30px;

}

.big-intro h1 {
    font-size:60px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    margin-left:20%;
    margin-right:20%;
}

.timeline-intro h1 {
    font-size:40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

.timeline ul {
    padding: 50px 0;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: white;

}


.timeline time {
    display: block;
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: bold;
}

.timeline ul li:after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 0.5s;
    background-color: inherit;
    z-index: 2;

}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    border-radius:10px;
    padding: 15px;
    background-color: rgb(60, 198, 226, 0.9);
    transition: all 0.5s;
    opacity: 0;
}

.timeline ul li div picture{
    display:flex;
    justify-content:center;
}

.timeline ul li div picture img{
    max-width: 300px;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
    transform: translateX(200px);
}

.timeline ul li:nth-child(even) div {
    left: calc(-400px - 45px - 5px);
    transform: translateX(-200px);
}

.timeline ul li.in-view:after {
    background-color: #3ec7e2;
}

.timeline ul li.in-view div {
    transform: none !important;
    opacity: 1;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0d1519;
    padding: 20px;
    text-align: left;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width:900px) {

    .background-info {
        background-color: #3ec7e2;
        padding: 10px;
        text-align: left;
        margin-bottom:15%;
        margin-top:5%;
        font-weight:bold;
        font-size:18px;
        margin-left:15%;
        margin-right:15%;
        border-radius:20px;
        animation: fadeIn 3s;
    }

    .big-intro {
        background-color: #0d1519;
        padding: 10px;
        text-align: center;
        margin-bottom:15%;
    
    }
    .big-intro h1 {
        font-size:30px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: normal;
        margin-left:20%;
        margin-right:20%;
    }
    .timeline-intro h1 {
        font-size:20px;
        font-family: 'Titillium Web', sans-serif;
        font-weight: normal;
    }
    .coolchart {
        margin-top:5%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 15%;
        padding-bottom:15px;
        z-index: 2;
    }
    .timeline ul li{
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 90px); 
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li div img{
        max-width: 225px;
        max-height: 200px;
    }

    .sources {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(12, 20, 24, 0.8);
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 10px;
        border-radius:10px;
    }

    .sources p {
        font-size: 15px;
        font-weight: bold;
    }
    
    .background-info p {
        margin-left:5%;
        margin-right:5%;
        padding-top:30px;
        padding-bottom:30px;
    }
 
}

